<h1>Contact-list</h1>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th style="width: 5%">Ordinal</th>
        <th style="width: 16%">First name</th>
        <th style="width: 16%">Last name</th>
        <th style="width: 16%">Address</th>
        <th style="width: 16%">City</th>
        <th style="width: 16%">Country</th>
        <th class="hidden-sm" style="width: 15%">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.address}}</td>
        <td>{{contact.city}}</td>
        <td>{{contact.country}}</td>
        <td><div class="btn btn-info" [routerLink]="['/details']" >Details</div></td>
      </tr>
    </tbody>
  </table>

