<h1>Bookmarks list</h1>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th style="width: 10%">Ordinal</th>
        <th style="width: 18%">First name</th>
        <th style="width: 18%">Last name</th>
        <th style="width: 18%">Address</th>
        <th style="width: 18%">City</th>
        <th style="width: 18%">Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Friend</td>
        <td>Friend</td>
        <td>Friend</td>
        <td>Friend</td>
        <td>Friend</td>
      </tr>
    </tbody>
  </table>
