<div class="row">
    <div class="col">
        <div class="tab-panel">
            <tabset>
                <tab heading="{{contact.firstName}}'s emails">
                    <app-email></app-email>
                </tab>
                <tab heading="{{contact.firstName}}'s numbers">
                    <app-number></app-number>
                </tab>
                <tab heading="{{contact.firstName}}'s tags">
                    <app-tag></app-tag>
                </tab>
            </tabset>
        </div>
    </div>
</div>