<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col m-auto">
                <h4>
                    Edit {{contact.firstName}} {{contact.lastName}}
                </h4>
            </div>
            <div *ngIf="editForm.dirty" class="alert alert-info mx-3 my-auto col">
                <strong>Napravil si promjene buraz</strong>
            </div>
        </div>
        <form #editForm="ngForm" #editContactForm id="editContactForm" (ngSubmit)="updateContact()">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="m-auto col-md-4">First name</h5>
                    <input name="firstName" class="col-md-8 form-control list-group-item list-group-item-action" [(ngModel)]="contact.firstName">
                </div>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="m-auto col-md-4">Last name</h5>
                    <input name="lastName" [(ngModel)]="contact.lastName" class="col-md-8 form-control list-group-item list-group-item-action">
                </div>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="m-auto col-md-4">Address</h5>
                    <input name="address" [(ngModel)]="contact.address" class="col-md-8 form-control list-group-item list-group-item-action">
                </div>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="m-auto col-md-4">City</h5>
                    <input name="city" [(ngModel)]="contact.city" class="col-md-8 form-control list-group-item list-group-item-action">
                </div>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="m-auto col-md-4">Country</h5>
                    <input name="country" [(ngModel)]="contact.country" class="col-md-8 form-control list-group-item list-group-item-action">
                </div>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="m-auto col-md-4">Bookmarked</h5>
                    <input name="isBookmarked" type="checkbox" [(ngModel)]="contact.isBookmarked" class="col-md-8 form-control list-group-item list-group-item-action switch">
                    
                </div>
            </div>
        </form>
        <div class="row">
            <button [disabled]="!editForm.dirty" form="editContactForm" class="btn btn-success col-md-6">Save</button>
            <button class="btn btn-danger col-md-6 ">Cancel</button>
        </div>
    </div>

    <div class="col-md-6">
        <div class="tab-panel">
            <tabset>
                <tab heading="Emails">
                    <div *ngFor="let email of emails; let i = index;" class="list-group-item list-group-item-action flex-column align-items-start">
                        <form #editDetailsForm="ngForm" (ngSubmit)="updateEmail(email.id,i)">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="m-auto col-md-2">{{i+1}}</h5>
                                <input name="emailAddress{{i}}" class="col-md-6 form-control list-group-item list-group-item-action" [(ngModel)]="emails[i].emailAddress">
                                <button [disabled]="!editDetailsForm.dirty" type="submit" class="col-md-2 btn btn-success">Save</button>
                                <button class="col-md-2 btn btn-danger" (click)="deleteEmail(email.id,i)">Delete</button>
                            </div>
                        </form>
                    </div>
                </tab>
                <tab heading="Numbers">
                    <div *ngFor="let number of numbers; let i = index;" class="list-group-item list-group-item-action flex-column align-items-start">
                        <form #editDetailsForm="ngForm" (ngSubmit)="updateNumber(number.id,i)">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="m-auto col-md-2">{{i+1}}</h5>
                                <input name="phoneNumber{{i}}" class="col-md-6 form-control list-group-item list-group-item-action" [(ngModel)]="numbers[i].phoneNumber">
                                <button [disabled]="!editDetailsForm.dirty" type="submit" class="col-md-2 btn btn-success">Save</button>
                                <button class="col-md-2 btn btn-danger" (click)="deleteNumber(number.id,i)">Delete</button>
                            </div>
                        </form>
                    </div>
                </tab>
                <tab heading="Tags">
                    <div *ngFor="let tag of tags; let i = index;" class="list-group-item list-group-item-action flex-column align-items-start">
                        <form #editDetailsForm="ngForm" (ngSubmit)="updateTag(tag.id,i)">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="m-auto col-md-2">{{i+1}}</h5>
                                <input name="tagName{{i}}" class="col-md-6 form-control list-group-item list-group-item-action" [(ngModel)]="tags[i].tagName">
                                <button [disabled]="!editDetailsForm.dirty" type="submit" class="col-md-2 btn btn-success">Save</button>
                                <button class="col-md-2 btn btn-danger" (click)="deleteTag(tag.id,i)">Delete</button>
                            </div>
                        </form>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>